<header>
  <input type="checkbox" id="btn-menu">
  <label for="btn-menu"><img src="assets/opcones2.png" width="30px" alt="menu">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
</label>

  <nav class="menu">
    <ul>
      <li><a class="btn btn-outline-light" routerLink="/Login" routerLinkActive="active">Login Responsivo</a></li>
      <li><a class="btn btn-outline-light" routerLink="/Mapa" routerLinkActive="active">Reto Mapa</a></li>
      <li><a class="btn btn-outline-light" routerLink="/Info" routerLinkActive="active">Infografias</a></li>    
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
